.filtros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top:80px;

}

.filtros select {
    margin: 25px;
    border-radius: 30px;
    background-color: rgba(249, 239, 40, 0.9);
    padding:10px;
    cursor: pointer; 

  }

.ccontainer{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top:-500px;
}

.cartaCon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    
}


.pagina{
    text-align: center;
  height: 100vh;
}

.pag{
    display: inline-block;
}

.logo{
    display:flex;
    width: 20px;
    height: 20px;
    margin-top: 40px;
    margin-right: 30px;
}