.naveg {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.lista {
  list-style: none;
  padding: 0;
  display: flex;
}
  
.otro {
  margin: 0 2px;
}

button {
  padding: 8px 16px; 
  background-color:#FAAB78;
  color: black; 
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #FFDCA9; 
}

button.active {
  background-color: #FFDCA9;
  font-weight: bold;
  color: black;
}