.navbar{
    /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  width: 100%; /* Asegura que el ancho de la barra de navegación sea del 100% */
  box-sizing: border-box;

}

.search{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
}

.input{
    padding: 15px 30px 15px 30px;
    margin-right: 10px;
    border-radius: 30px;
}

.busqueda{
    padding: 15px 30px 15px 30px;
    border: solid;
    border-radius: 30px;
    margin-top: 20px;
    color:black;
    background-color: yellow;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-family: 'Titan One', sans-serif;
}
      
busqueda:hover {
    background-color: #cdd4cd;
    transform: translateY(-5px);
}

  